<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="{{url_for('showcatalogs')}}">Item Catalog</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li ><a href="{{url_for('showcatalogs')}}">
					Home
				</a></li>
				{% for catalogs in catalogs %}
			<li>
				<a href = "{{url_for('showCatalogMenu', catalog_id = catalogs.id)}}">
				{{catalogs.name}}
			</a>
		</li>
			{% endfor %}
			
		  </ul>
		  <button class="btn btn-danger navbar-btn" style="float: right">{%if 'username' not in session %}
				<a href="{{url_for('showLogin')}}">Click Here to Login </a>
				{% else %}
				<a href="{{url_for('gdisconnect')}}">Logout </a>
				{% endif %}</button>
		</div>
	  </nav>