{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<div class="row banner menu" style="background-color:#e6e1da47; margin:0 !important"> 
		<div class="col-md-12 padding-none">
			<h1  style="margin:30px 0">{{ item.name }}</h1>
			
		</div>
	</div>
	 
    <div style="margin: 30px 0 ">
       <h3>Details :</h3>  {{item.description}}
        <br>
        <h3>Price : </h3>{{item.price}}
        <br><br>
    </div>
    
    {% endblock %}	